@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
  }

  html{
    /* font-size: 62.5%; */
  }
  /* #5b7065, black */
  body {
    background-color: #000000;
    position: relative;
    height: 100vh;
    overflow: hidden;
    /* font-family: "Montserrat", sans-serif; */
    font-family: 'Roboto Mono', monospace;
  }
  ::-webkit-scrollbar {
    display: none;
}
  
  button {
    height: fit-content;
    cursor: pointer;
    color: #3cff00;
    background-color: #000000;
  }
  
  .app {
    width: 37.5rem;
    margin: auto;
    padding-top: 3.1rem;
    color: rgb(214, 37, 37);
  }
  /* .first-row{
    display: flex;
    flex-direction: column;
    gap: 5rem;
  } */
  .input-header {
    display: flex;
    flex-direction: row;
    color: rgb(124, 193, 39);
  }
  .sortbb{
    display: flex;
    flex-direction: row;
  }
  .to-do-input{
    display: flex;
    flex-direction: row;
  }
  .search-container{
    padding-top:30px;
  }
  .to-do-input input {
    width:15.6rem;
    font-family: inherit;
    border: none;
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
    padding: 0.6rem;
    outline: none;
  }
  
  .to-do-input button {
    color: #5b7065;
    font-family: inherit;
    border: none;
    padding: 0.6rem;
    border-top-right-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
  }
  
  .to-do-list {
    display: flex;
    flex-direction: column;
    gap: 0.93rem;
    margin-top: 3.1rem;
  }
  
  .to-do-list i {
    color: #c9d1c8;
    cursor: pointer;
  }
  
  .to-do-list .fa-pen-to-square {
    color: #5b7065;
  }
  
  .to-do-list button {
    padding: 0.5rem;
    border-radius: 0.6rem;
    cursor: pointer;
    font-family: inherit;
    border: none;
  }
  
  .item {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0.6rem;
    padding: 0.5rem;
    box-shadow: 0rem 0.1rem 0.25rem 0rem rgba(0, 0, 0, 0.5);
  }
  
  .input-controller {
    display: flex;
    gap:0.6rem;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    border-radius: 0.3rem;
    transition: background-color 0.3s;
  }
  .input-controller:hover {
    background-color: rgb(0, 0, 0);
}
  
  .input-controller textarea {
    /* width: 100%;
    outline: none;
    border: none;
    resize: none;
    line-height: 1.4;
    color: white;
    border-radius: 10px;
    background-color: rgb(26, 25, 25);
    font-size: 1.2rem;
    font-family: inherit;
    transition: all 0.3s ease-in-out;
    padding: 25px; */
    flex: 1;
    border: none;
    outline: none;
    resize: none;
    background-color: rgb(41, 41, 41);
    color: white;
    font-family: 'Chakra Petch', sans-serif; /* Change font style */
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border-style:double;
    border-color: #a9a9a9;
  }
  .input-controller textarea:hover{
    background-color: black;
  }

  
  textarea:focus {
    box-shadow: 0 0 0.3rem white;
  }
  
  .edit-controller {
    display: flex;
    gap: 1.87rem;
  }
  
  .update-controller {
    display: none;
  }
  
  @media (max-width: 48rem) {
    .app {
      width: 95%;
      text-align: center;
    }
  
    .input-header {
      flex-direction: column;
      padding-bottom: 1.25rem;
    }
  
    .to-do-input {
      display: flex;
    }
  
    .to-do-input input {
      width: 18.7rem;
    }


}

/* #enter{

    transition: all 0.3s;
}

#enter:hover{

    color: black;
    background-color: #2de29a9d;
} */
/* #enter {
  background-color: #3cff00;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

#enter:hover {
  background-color: #2de29a;
  transform: scale(1.1);
} */
#enter {
  background-color: #007BFF;
  border: none;
  color: #ffffff;
  padding: 0.6rem 1.25rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

#enter:hover {
  background-color: #0056b3;
  color: #ffffff;
  transform: scale(1.05);
}




/**/
/* Add these styles to your existing CSS code */
#sortBtn {
  color: #3cff00;
  background-color: #000000;
  padding: 0.6rem 1.25rem;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-family: inherit;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 1.8rem;
}

#sortBtn:hover {
  color: rgb(255, 255, 255);
  background-color: #2f26269d;
  transform: scale(1.05);
}

/**/
/* Styles for the filter button and options */
.filters {
  position: relative;
  display: inline-block;
  margin-right: 1.25rem;
}

#filterBtn {
  color: #3cff00;
  background-color: #000000;
  padding: 0.6rem 1.25rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 1.8rem;
}

#filterBtn:hover {
  color: rgb(255, 255, 255);
  background-color: #2f26269d;
  transform: scale(1.05);
}

.filter-options {
  display: none;
  position: absolute;
  background-color: #000000;
  border-radius: 0.6rem;
  box-shadow: 0rem 0.12rem 0.25rem 0rem rgba(0, 0, 0, 0.5);
  padding: 0.3rem;
  right: 0;
  top: 100%;
  z-index: 1;
}

.filter-options button {
  display: block;
  color: white;
  background-color: #000000;
  border: none;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.filter-options button:hover {
  background-color: #2de29a9d;
}


/**/
/* Your existing CSS code */

/* Your existing CSS code */

.todo-list-heading {
  position: absolute;
    left: 10.5rem;
    top: 4.3rem;
    font-size: 2.5rem;
    color: white;
}
/**/
.todo-list-heading span {
  opacity: 0;
  animation: appear 2s forwards;
}


@keyframes appear {
  0% {
      opacity: 0;
      transform: translateY(50px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.animated-heading span {
  opacity: 0;
  animation: appear 1s forwards;
  animation-delay: calc(var(--index) * 0.2s);
  display: inline-block;
}
.start-animation .animated-heading span {
  opacity: 0;
  animation: appear 1s forwards;
  animation-delay: calc(var(--index) * 0.2s);
  display: inline-block;
}
.delete-icon{
  display:none;
}

/**/

#date {
  position: absolute;
  left: 10.5rem;
  top: 7.5rem;
  font-size: medium;
}

.to-do-input {
  margin-top: 1.87rem;
}

/**/
.completed-tasks {
  background-color: #2de29a;
  color: #fff;
  padding: 0.6rem;
  margin: 0.3rem 0;
  border-radius: 0.3rem;
}
/**/



/* ... (other cube styles) */

/**/
/* Apply styles to the body or a specific container */
body {
  overflow: auto; /* This will enable the scrollbar when content overflows */
  /* Additional styles for scrollbar appearance */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #a9a9a9 #f5f5f5; /* For Firefox */
}

/* Apply styles to the scrollable container, if needed */
.scrollable-container {
  overflow: auto; /* This will enable the scrollbar when content overflows */
  /* Additional styles for scrollbar appearance */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #a9a9a9 #f5f5f5; /* For Firefox */
}


/**/
#taskCount {
  text-align: center;
  padding: 10px;
  /* background-color: #161616; */
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 0.3rem;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  box-shadow: 0px 0.1rem 0.25rem rgba(0, 0, 0, 0.2);
}

/**/
.search-container {
  
}


#searchInput {
  width: 12.75rem;
  height: 30px;
  border-radius: 5px;
}

.search-results {
  margin-top: 0.6rem;
  display: none; /* Hide initially */
}

#searchResultsTextarea {
  width: 100%;
  height: 9.3rem;
  padding: 0.5rem;
  border: 0.06rem solid #ccc;
  border-radius: 0.3rem;
  resize: none;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 0.87rem;
}

/**/
@keyframes notFoundAppear {
  0% {
      opacity: 0;
      transform: translateY(-10px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.not-found-animation {
  animation: notFoundAppear 0.5s forwards;
}


/**/
.input-controller.highlighted {
  background-color: rgba(255, 255, 0, 0.5);
  transition: background-color 1s;
}

/* ... other CSS ... */

.input-controller textarea.highlighted {
  background-color: rgba(255, 255, 0, 0.5);
  transition: background-color 0.5s;
}

/**/
/* Add this CSS to style the search results list items */
.search-results li {
  list-style-type: none; /* Remove the dot symbol */
  padding-left: 1rem; /* Adjust the padding as needed */
  position: relative;
}

.search-results li::before {
  content: "→"; /* Use the arrow symbol */
  position: absolute;
  left: 0;
}

/* Rest of your existing CSS styles */

.github-link{
  /* margin-top: -50px;; */
  position: absolute;
  bottom: 1.87rem;
  right: 1.87rem;
}





/* //switch button */
.switch {
  position: relative;
  display: inline-block;
  /* width: 60px;
  height: 34px; */
  width: 2.5rem;
  height: 1.37rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  /* height: 26px;
  width: 26px; */
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 0.06rem #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.1rem);
  -ms-transform: translateX(1.1rem);
  transform: translateX(1.1rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 5.6rem;
}

.slider.round:before {
  border-radius: 50%;
}


/* .deleteBtn{
  height: 1.7rem;
  color:white;
  background-color: #fff;
  display: none;
  border-radius: 5px;
  
}
.editBtn{
  height:2rem;
} */




.filter-class{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


@media (max-width: 1350px) {
  .todo-list-heading{
    display: none;
  }
  .input-header {
    display: flex;
    flex-direction: column;
    color: rgb(124, 193, 39);
  }
  
}
@media (max-width: 450px) {
  .filter-class{
    flex-direction: column;
  }
  
}